<!DOCTYPE html>
<html>

<head>
    <title>Readaholic | Home</title>
    <!-- Latest compiled and minified CSS -->
    <!--     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style type="text/css">
    .results li {
        list-style-type: none;
    }
    </style>
</head>

<body class="container" style="padding-top: 30px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <article>
                <form action="/" method="GET">
                    {% if q %}
                    <a href="/" style="text-decoration: none"><h1 class="text-danger" style="text-align: center; margin-bottom: 30px;">Readaholic</h1></a>
                    <div class="input-group">
                        <input type="Search" name="q" class="q form-control" value="{{ q }}" spellcheck="false" required="true" autocomplete="false" autofocus="true">
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                        </span>
                    </div>
                    {% else %}
                    <div style="margin-top: 200px">
                        <a href="/" style="text-decoration: none;"><h1 class="text-danger" style="text-align: center; margin-bottom: 30px;font-size: 40px;"><strong>Readaholic</strong></h1></a>
                        <div class="input-group">
                            <input type="search" name="q" class="q form-control" spellcheck="false" required="true" autocomplete="false" autofocus="true">
                            <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                        </span>
                        </div>
                    </div>
                    {% endif %}
                </form>
                <div class="results">
                    {% if q %} {% if list|length %}
                    <p class="text-muted" style="margin-top: 20px;">Showing results for "<strong>{{q}}</strong>":</p>
                    <hr>
                    <ul style="padding-left: 0px;">
                        {% for el in list %}
                        <li>
                            <div class="card" style="margin-bottom: 10px;">
                                <div class="card-block">
                                    <!-- <h4 class="card-title">Title</h4> -->
                                    <h6 class="card-subtitle mb-2 text-muted"><a class="url" href="{{el.url}}" target="_blank" id="{{el.id}}">{{ el.url }}</a></h6>
                                    <p class="card-text text-muted">
                                        score: {{el.score}}
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <div class="card" style="margin: 10px auto;">
                        <div class="card-block">
                            <h6 class="card-subtitle mb-2 text-muted">
                                        <span>No matching results</span>
                                    </h6>
                        </div>
                    </div>
                    {% endif %} {% endif %}
                </div>
            </article>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.url').click(function() {

            var data = {
                'q': $('.q').val(),
                'clicked': $(this).attr('id')
            }
            console.log('Request sent to train ANN')
            $.post({
                url: '/train',
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function(res) {
                    console.log(res)
                },
                error: function(err) {
                    console.log(err)
                }
            })
        })
    });
    </script>
</body>

</html>
